<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        .title {
            font-size: 2em;
            margin-left: 300px;
        }
    </style>
</head>
<body>
    <nav>
        <p><a href="/">Main Page</a><a href="/Admin">Admin</a><a href="/Reservation">Reservations</a></p>
    </nav>
    <hr>

    <p class="title">Administrator Login</p>
    <hr>
    <label for="userUsername">Username:</label>
    <input type="text" id="userUsername" placeholder="Username">

    <p></p>

    <label for="userPassword">Password:</label>
    <input type="text" id="userPassword" placeholder="Password">

    <!-- Button to save information -->
    <button onclick="saveAdminLogin()">Submit</button>

    <!-- Display saved information -->
    <div id="displayInfo"></div>

    <script>
        function saveAdminLogin() {
            var userUsername = document.getElementById("userUsername").value;
            var userPassword = document.getElementById("userPassword").value;

            // Display the saved information
            document.getElementById("displayInfo").innerHTML = "<p>Saved Information: " + userUsername + " " + userPassword + "</p>";
        }
    </script>
</body>
</html>
