<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        .title {
            font-size: 2em;
            margin-left: 300px;
        }
    </style>
</head>
<body>
    <nav>
        <p><a href="/">Main Page</a><a href="/Admin">Admin</a><a href="/Reservation">Reservations</a></p>
    </nav>
    <hr>

    <p class="title">Admin</p>
</body>
</html>
