<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>

        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        .title {
            font-size: 2em;
            margin-left: 175px;
        }
    </style>
</head>
<body>
    <nav>
        <p><a href="/">Main Page</a><a href="/Admin">Admin</a><a href="/Reservation">Reservations</a></p>
    </nav>
    <hr>
    <p class="title">IT-4320 Trip Reservation System</p>
    <hr>
    <p> Welcome to the IT-4320 reservation system. use the Select box to choose whether to make a servation or log in as administrator.</p>
    <p></p>
    <p>Choose Menu option:</p>
</body>
</html>
